@import "~antd/dist/antd.css";

cartStyle {
  padding: "20px 100px 300px 20px";
  margin: "50px 10px 250px 120px";
  border: "2px solid black";
}
@import "~antd/dist/antd.css";

cartStyle {
  padding: "20px 100px 300px 20px";
  margin: "50px 10px 250px 120px";
  border: "2px solid black";
}
